<VirtualHost *:80>
        DocumentRoot "/var/www/konnec_nas"
        ServerName konnec.nas

        ErrorLog ${APACHE_LOG_DIR}/konnec.error
        CustomLog ${APACHE_LOG_DIR}/konnec.access combined

        <Directory /var/www/konnec_nas/>
            Require all granted
            Options FollowSymlinks MultiViews
            AllowOverride All

           <IfModule mod_dav.c>
               Dav off
           </IfModule>

        SetEnv HOME /var/www/konnec_nas
        SetEnv HTTP_HOME /var/www/konnec_nas
        Satisfy Any

       </Directory>

</VirtualHost>